.overlay {
  background-color: rgba(230, 230, 230, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.box {
  position: fixed;

  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  
  width: 200px;
  height: 200px;
  background-color: #fff;
  
  border-radius: 8px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(44, 44, 44, 0.27);
}

 .box div{
  font-size: 18px;
  line-height: 200px;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  text-align: center; }

  
  .x-button {
    position: absolute;
  }